@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: 'Montserrat', Arial,Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden ;
}
/*item que vao servir para tudo*/
.button{
    background-color: #B28756;
    text-transform: uppercase;
    color: #FFF;
    font-size:12px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    border: 0;
}

/* -----> cabecalho<-------*/
.cabecalho {
    background-color: #A52A2A;
    height: 100px;
}
.cabecalho-area{
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
}
.menu-opener{
    display: none;
}
.logo {
    display: flex;
    align-items: center;
    height: 100px;
}
.logoimg{
    background-image: url("../images/desktop/logo.png");
    width: 90px;
    height: 90px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border:1px solid #B28756;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu .lista{
    display: flex;
}
.menu li,
.menu ul {
   list-style: none;
}
.menu li a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: #FFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid #A52A2A;
    
}
.menu li a:hover{
    border-bottom: 5px solid #B28756;
    color:#B28756;
}
/*parte do banner*/

/*melhorando imagens para ficar como fundo do banner*/
.image-area1 {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/desktop/switch1.jpg");
    height: calc(100vh - 100px);
    width: 100vw;
    background-size: cover;     /*ocupa toda a tela sem distorecer a imagem*/
    background-position:center; /*centraliza imagem*/
    background-attachment: fixed; /*a imagem fica fixa a dar scroll na tela*/
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.image-area2 {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/desktop/galera.jpg");
    height: calc(100vh - 100px);
    width: 100vw;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-area3{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/desktop/litle3.jpg");
    height: calc(100vh - 100px);
    width: 100vw;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-area4{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/desktop/galera2.jpg");
    height: calc(100vh - 100px);
    width: 100vw;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*ajustando banner*/
.banner {
    color: #FFF;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.slide{
    width: 100vw;
    height: calc(100vh - 100px);
    overflow: hidden;
    transition:all 0.4s;
   
}
.slides{
    width:600%;
    display: flex;
}

#atual{
    transition: all 0s;
}
.btn{
    position: absolute;
    color: #FFF;
    padding: 20px;
    text-align: center;
    display: none; /*para ativar setas do lado so remover essa linha*/
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition: all 0.4s;
    font-size:1.7em;
    margin-top: -5px;
}
.btn:hover{
    transform: scale(1.5);
}
#voltar{
    top:50%;
    left: 5%;
}
#next {
    top: 50%;
    right: 5% ;
}
.balls{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top:-45px;
}
.balls div {
    transition: all 0.5s;
    border: 3px solid #B28756;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.balls div:hover{
    background-color: #B28756;
}
.imgAtual{
    transition:all 0.5s;
    background-color: #B28756;
}
.slide--image-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slide--image-area h1{
  text-transform: uppercase;  
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
}
.slide--image-area h1 span {
    color:#B28756;
}





























































/*Parte da responsividade*/

/*Tablet*/
@media (min-width:450px) and (max-width:800px){

    /*---------parte do cabecalho------------*/
    .logo {
        margin-left: 30px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin:auto;
        margin-right: 20px;
        margin-top: 30px;
        cursor: pointer;
    }

   .lista {
       background-color:rgba(0, 0, 0, 0.8);
       top:0;
       position:absolute;
       width: 100%;
       height: 100vh;
       transform:translatex(100%); /*coloquei todo a direita eixo x*/
       transition: transform 200ms linear; /*animar linearmente */
       
   }
    .lista_open {
        transform: translateX(0);
    }
    .menu .image-area {
        position: relative;
        width: inherit;
    }
    .navigacion {
        position: relative;
        z-index: 99;
        width: 70vw;
        height: 100vh;
        top: 0;
        right: 0;
    }
    
    .menu .lista {
        flex-direction: column;
        border:0;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        margin-left: 50px;
        border: 0;
    }
    .menu .menu-item-action:hover{
        color:#B28756;
    }
    /*---------parte do banner------------*/
    .image-area2 {
       background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/galeraT.jpg");
    }
    .image-area4 {
        background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/galera2T.jpg");
        background-position: top;
     }


}

/*Smartphone*/
@media (max-width:450px) {

    /*---------parte do cabecalho------------*/
    .logo {
        margin-left: 10px;
    }
    .menu-opener{
        display: block;
        width: 45px;
        margin:auto;
        margin-right: 20px;
        margin-top: 30px;
        cursor: pointer;
    }

   .lista {
       background-color:rgba(0, 0, 0, 0.8);
       top:0;
       position:absolute;
       width: 100%;
       height: 100vh;
       transform:translatex(100%); /*coloquei todo a direita eixo x*/
       transition: transform 200ms linear; /*animar linearmente */
       
   }
    .lista_open {
        transform: translateX(0);
    }
    .menu .image-area {
        position: relative;
        width: inherit;
    }
    .navigacion {
        position: relative;
        z-index: 99;
        width: 70vw;
        height: 100vh;
        top: 0;
        right: 0;
    }
    
    .menu .lista {
        flex-direction: column;
        border:0;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        margin-left: 50px;
        border: 0;
    }
    .menu .menu-item-action:hover{
        color:#B28756;
    }
     /*---------parte do banner------------*/
    

    .image-area1 {
        background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/switch.jpg");

    }
    .image-area2 {
        background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/galera.jpg");
    }
    .image-area3 {
        background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/litle3.jpg");
    }
    .image-area4 {
        background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/mobile/galera2.jpg");
    }
    .slide--image-area h1 {
        font-size:27px;
    }

   
     
}
